<h2>{{ Title }}</h2>

<table border="1">
    <!--<tr>
        <td>
            번호
        </td>
        <td>
            상품명
        </td>
        <td>
            가격
        </td>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            좋은 책
        </td>
        <td>
            1000
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            좋은 강의
        </td>
        <td>
            2000
        </td>
    </tr>-->
    <!-- {{ 문자열 보간법: 단방향 바인딩 }} --> 
    <tbody *ngIf='Products && Products.length'>
        <tr *ngFor='let p of Products'>
            <td>
                <!-- 속성 바인딩 사용 이미지 출력 --> 
                <img 
                    [src]="p.imageUrl" 
                    [title]='p.productName' 
                    [style.width.px]='ImageWidth'
                    [style.margin.px]='ImageMargin'
                />
            </td>
            <td>{{ p.productId }}</td>
            <td>{{ p.productName }}</td>
            <td>{{ p.price }}</td>
        </tr>
    </tbody>
</table>

