
<h1>삭제</h1>

<!-- 템플릿 기반 폼 -->
<!--TODO: ngSubmit으로 변경-->

<form class="form-horizontal" role="form" novalidate
      #frmDelete="ngForm" (submit)="btnSubmit_Click(pwd.value)">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="pwd">
            암호
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="pwd" name="pwd"
                   required #pwd="ngModel" [(ngModel)]="password"
                   placeholder="암호">
            <span *ngIf="pwd.invalid && pwd.touched">* 암호를 입력하세요.</span>
            <!--TODO: 또 다른 모양-->
            <!--<div [hidden]="pwd.untouched || pwd.valid">* 암호를 입력하세요.</div>-->
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger"
                    [disabled]="frmDelete.invalid">
                삭제
            </button>
            <button type="button" class="btn btn-default"
                    (click)="goDetail()">
                취소
            </button>
        </div>
    </div>
</form>


<!--용어:
템플릿 참조변수, 로컬 템플릿 변수-->
