<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">앵귤러노트</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" [routerLinkActive]="['active']">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Home <span class="sr-only">(current)</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact:true}'><a [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a></li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact:true}'><a [routerLink]="['/home/about']">정보</a></li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact:true}'><a [routerLink]="['/home/contact']">연락처</a></li>
                    </ul>
                </li>
                <li><a href="/Blog">블로그</a></li>
                <li><a href="/DotNetNote">게시판</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/webcamp']">웹캠프</a></li>
                <li><a href="/CommunityCamp">커뮤니티캠프</a></li>
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        예제 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/demos']">데모 예제들...</a></li>
                        <li role="separator" class="divider"></li>

                        <li><a [routerLink]="['/IdeaApp']">[1] 아이디어 관리자 2018</a></li>
                        <li><a href="/Goods">[2] 제품 관리</a></li>
                        <li><a [routerLink]="['/heroes']">[3] 영웅 리스트(Heroes)</a></li>
                        <li role="separator" class="divider"></li>

                        <li><a [routerLink]="['/samples']">샘플 예제 모음(Lazy Loading)</a></li>
                        <li role="separator" class="divider"></li>

                        <li><a [routerLink]="['/todo']">01_51_TODO 리스트 만들기</a></li>
                        <li><a [routerLink]="['/counter']">예제_카운터</a></li>
                        <li><a [routerLink]="['/fetch-data']">예제_날씨 정보</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/IdeaManager']">아이디어 관리자(입출력 연습)</a></li>
                        <li><a [routerLink]="['/ideas']">아이디어 관리자(입출력 연습)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/question']">문제(Question CRUD)</a></li>
                        <li><a [routerLink]="['/coinviewer']">코인 뷰어</a></li>


                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/medal']">메달 순위</a></li>
                        <li><a [routerLink]="['/courses']">과정(Courses)</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#">앵귤러4 특징</a></li>


                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/point']">Point: HTTP 서비스로 JSON 데이터 출력</a></li>
                        <li><a [routerLink]="['/demo']">Demo: 데모 컴포넌트 생성</a></li>


                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/animationbasic']">애니메이션 기본</a></li>
                        <li><a [routerLink]="['/animation']">애니메이션 기본</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/notes']">모듈(Notes Featuer Module)</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/admin/login']">관리자 페이지 데모(Lazy 로딩 사용)</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/jquery/color']">jQuery 사용하기 - 색상 변경</a></li>
                        <li><a [routerLink]="['/jquery/animate']">jQuery 사용하기 - 애니메이션</a></li>
                        <li><a [routerLink]="['/jquery/plugin']">jQuery 사용하기 - 플러그인</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        강의 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.devlec.com/" target="_blank">ASP.NET Core 1.X 기초 입문</a></li>
                        <li><a href="http://www.devlec.com/" target="_blank">Angular 4 기초 입문</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://www.devlec.com/" target="_blank">TypeScript 1.X 기초 입문</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left hidden-sm hidden-xs hidden-md">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="검색" style="width:100px;">
                </div>
                <button type="submit" class="btn btn-sm btn-default">검색</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!signService.isAuthenticated">
                    <a [routerLink]="['/sign/register']">회원가입</a>
                </li>
                <li *ngIf="!signService.isAuthenticated">
                    <a [routerLink]="['/sign/login']">로그인</a>
                </li>
                <li *ngIf="signService.isAuthenticated">
                    <a [routerLink]="['/sign/details']">{{ signService.email }}</a>
                </li>
                <li *ngIf="signService.isAuthenticated">
                    <a [routerLink]="['/sign/logout']">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
