<h3>명언 관리</h3>
<h2>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    {{ title }}
</h2>
<form #form="ngForm" novalidate>
    <input type="text" name="id" [(ngModel)]="id" />
    <input type="button" (click)="btnGetById()" value="번호 데이터 읽어오기" />
    <hr />
    <input type="text" name="name" [(ngModel)]="name" />
    <input type="text" name="content" ngModel />
    <input type="button" value="저장" (click)="submit(form.value)" />
</form>
{{form.value | json}}
<hr />
<p *ngIf="!maxims"><em>Loading...</em></p>
<div class="row" *ngIf="maxims">
    <div style="height:150px;"
         class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumbnail"
         *ngFor="let maxim of maxims">
        <a href="#" class="pull-right">
            <img src="http://placeimg.com/100/100/any"
                 class="img-thumbnail"
                 alt="{{ maxim.name }}" />
        </a>
        <h3><a href="/MaximDetail/{{maxim.id}}">{{maxim.id}}</a> {{ maxim.name }}</h3>
        <p><em>{{ maxim.content }}</em></p>
        <div class="clearfix visible-xs"></div>
    </div>
</div>


<input type="text" id="txt" />
<button (click)="btnClick()">클릭</button>