
<ul>
    <li><a href="http://angular.io" target="_blank">Angular (Angular 공식 사이트)</a></li>
    <li><a href="http://www.devlec.com" target="_blank">데브렉 (AngularNote 사이트 제작 관련 동영상 강의 제공)</a></li>
    <li><a href="https://www.youtube.com/user/visualacademy" target="_blank">비주얼아카데미 (박용준 MVP 개인 유튜브 채널)</a></li>
    <li><a href="http://www.taeyo.net" target="_blank">Taeyo.NET (ASP.NET Core 1.X 강좌 제공)</a></li>
    <li><a href="https://www.facebook.com/groups/AspxKorea/" target="_blank">ASP.NET Korea User Group (ASP.NET 한국 사용자 그룹)</a></li>
    <li><a href="http://www.dotnetkorea.com" target="_blank">닷넷코리아 (박용준 MVP 개인 홈페이지)</a></li>
    <li><a href="http://www.asp.net" target="_blank">ASP.NET (ASP.NET 공식 사이트)</a></li>
    <li><a href="http://www.gilbut.co.kr" target="_blank">길벗출판사 (ASP.NET Core 1.0 서적 출간)</a></li>
</ul>

